/* ========================= universal selector start =========================*/
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Catamaran", sans-serif;
    font-size: 16px;
}

/* ========================= /universal selector end =========================*/

/* ========================= universal css start ========================= */
.text-orange {
    color: #ea512e;
}

.text-black {
    color: #1b0238,
}

.text-silver {
    color: #6b6b84;
}

.bg-orange {
    background: #EA512E;
}

.bg-yellow {
    background: #F5890D;
}

.bg-light-orange {
    background: #fdf6ed;
}

.bg-d3f5fe {
    background: #d3f5fe;
}

.bg-fce0ad {
    background: #fce0ad;
}

.bg-fbc9d5 {
    background: #fbc9d5;
}

.top-4 {
    top: 4%;
}

.right-4 {
    top: 4%;
    right: 4%;
}

.bottom-4 {
    bottom: 4%;
}

.bottom-right-4 {
    bottom: 0%;
    right: 4%;
}

.top-10 {
    top: 10%;
}

.start-10 {
    left: 10%;
}

.top-20 {
    top: 20%;
}

.pt-100 {
    padding-top: 100px;
}

.pb-70 {
    padding-bottom: 70px;
}

.mt-8 {
    margin-top: 72px;
}

.mt-10 {
    margin-top: 100px;
}

.mt-15 {
    margin-top: 150px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-200 {
    margin-top: 200px;
}

.fs-20 {
    font-size: 40px;
}

.fs-30 {
    font-size: 45px;
}

.fs-40 {
    font-size: 50px;
}

.fs-50 {
    font-size: 55px;
}

.fs-60 {
    font-size: 60px;
}

.mb-20 {
    margin-bottom: 20px;
}

.btn {
    color: #fff;
    display: inline-block;
    padding: 10px 35px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.5s ease;
    position: relative;
    background: #EA512E;
}

.btn:hover {
    color: #fff;
    background: #f5890d;
}

p {
    line-height: 1.8;
    color: #6b6b84;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

h1 {
    color: #1b0238;
    font-family: "Catamaran", sans-serif;
    font-weight: bold;

}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

/* ========================= /universal css end ========================= */

/* ========================= Nav section start ========================= */
a.active {
    color: #EA512E !important;

}

a.nav-link:hover,
a.dropdown-item:hover {
    color: #EA512E !important;
    font-weight: bold;
    transition: 0.2s linear;
}

.dropdown-menu {
    width: 280px;
    border: none;
    position: absolute;
    border-radius: 0px;
    transition: all 4s ease-in-out;
    box-shadow: 0px 0px 15px 0px #ccc;
    --bs-dropdown-link-active-bg: #0dfd99;
}

.dropdown-menu .dropdown-item {
    padding: 10px 20px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.d-flex .dropdown-menu .dropdown-item {
    font-weight: 500;
}




/* ========================= /Nav section end ========================= */

/* ========================= Banner section start ========================= */
.banner {
    width: 100%;
    height: 750px;
    background: url(../img/main-banner-bg.png);
    background-size: cover;
    background-position: center center;
}

.btn-2 {
    color: #fff;
    display: inline-block;
    padding: 10px 35px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.5s ease;
    position: relative;
    background: #F5890D;
}

.btn-2:hover {
    color: #fff;
    background: #EA512E;
}

.shape-1 {
    top: 3.5%;
    left: .7%;
    animation: move 2s linear infinite alternate;
}

.shape-2 {
    top: 3.5%;
    right: 50%;
    animation: move2 2s linear infinite alternate;
}

.shape-3 {
    bottom: 3.5%;
    left: .7%;
    z-index: 9;
    animation: move 2s linear infinite alternate;
}

.shape-4 {
    bottom: 0%;
    z-index: 9;
    right: 50%;
    animation: move3 2s linear infinite alternate;
}

/* ========================= /Banner section end ========================= */


/* ========================= Who We Are section Start ========================= */
.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.shape-5 {
    top: 12%;
    right: 7%;
    animation: move5 2s linear infinite alternate;
}

.whoweare .container .boy-image {
    text-align: center;
    position: relative;
    z-index: 1;
}

.whoweare .container .col-md-6.boy-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: #EA512E;
    border-radius: 50%;
    z-index: -1;
    transition: 0.5s;
    animation: border-transform-boy-image 10s linear infinite alternate forwards;
}

.whoweare .container .boy-image img {
    border-radius: 50%;
    padding: 20px;
}

.whoweare .container .col-md-6.boy-image::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: #f5890d;
    border-radius: 50%;
    z-index: -1;
    transition: 0.5s;
    animation: border-transform-boy-image 50s linear infinite alternate forwards;
}

.whoweare .col-md-6 span {
    font-size: 20px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Sacramento", cursive;
}

.whoweare .col-md-6 h3 {
    font-size: 45px;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.whoweare .col-md-6 ul li {
    line-height: 45px;
}

.whoweare .col-md-6 ul li span {
    width: 30px;
    height: 30px;
    color: #fff;
    margin-right: 8px;
    border-radius: 50%;
    background: #ea512e;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    transition: all 0.5s;
    font-family: "Roboto", sans-serif;
}

.whoweare .col-md-6 ul li:hover span {
    background: #F5890D;
    transition: all 1s linear;
}




/* 
.btu {
    color: #fff;
    display: inline-block;
    padding: 10px 35px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;
    background: #EA512E;
}

#btuu {
    color: #fff;
    overflow: hidden;
    position: relative;
}

span {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.5s;
    position: absolute;
    background: #f5890d;
    color: #fff;
}

#btuu:hover span {
    width: 100%;
    color: white;
} */

/* ========================= /Who We Are section end ========================= */

/* ========================= popular section start ========================= */
.popular {
    z-index: 1;
}

.popular .col-12 span {
    font-size: 20px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Sacramento", cursive;
}

.popular .col-12 h3 {
    font-size: 45px;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.popular .card:hover img {
    transform: rotate(4deg) scale(1.09);
    transition: all 0.3s linear;
}

.popular .card-body .popular-content .anchor a {
    color: #1b0238;
    transition: all 0.7s ease-in-out;
}

.popular .colorimage:hover .anchor a {
    color: #EA512E;
    transition: all 0.7s ease-in;
}

.popular .popular-content .price {
    top: 0;
    right: 0;
    padding: 10px;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    line-height: 1;
    position: absolute;
    font-weight: bold;
    background: #ea512e;
    border-radius: 0px 0px 0px 15px;
}

.popular .colorimage:hover .price {
    color: #fff;
    background: #f5890d;
    transition: all 0.7s ease-in;
}

/* .popular .popular-content .price:hover {
    color: #fff;
    background: #f5890d;
} */

.card-body .popular-content {
    padding: 25px 10px 0px 8px;
}

.card-body .popular-content .class-list {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dashed #EA512E;
}

.card-body .popular-content .class-list li {
    list-style: none;
    font-size: 15px;
    font-weight: 500;
    margin-right: 15px;
    display: inline-block;
    font-family: "Roboto", sans-serif;
}

.card-body .popular-content .class-list li span {
    color: #EA512E;
    font-weight: 600;
}

.card-body .popular-content .popular-button {
    margin-top: 25px;
}



.popular .class-shape .class-shape-1 {
    left: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
}

.popular .class-shape .class-shape-2 {
    right: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
}

/* ========================= /popular section end ========================= */

/* ========================= core value section start ========================= */
.core-value {
    z-index: 1;
}

.core-value .col-lg-6 span {
    font-size: 20px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Sacramento", cursive;
}

.core-value .col-lg-6 h3 {
    font-size: 45px;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.core-value .col-lg-6 .number {
    width: 60px;
    height: 60px;
    font-size: 25px;
    transition: 1.5s;
    color: #1b0238;
    margin-top: 1.5%;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    margin-right: 20px;
    cursor: default;
    outline-offset: 2px;
    display: inline-block;
    border: 3px solid #fff;
    outline: 2px solid #e5e4e4;
    font-family: "Catamaran", sans-serif;
}

.core-value .col-lg-6 .ourcore:hover .number {
    color: #fff;
    transition: 1.5s;
    background: #ea512e;
    outline-color: #ea512e;
}

.core-value .value-shape .value-shape-1 {
    position: absolute;
    top: 0;
    left: 0;
}

.core-value .value-shape .value-shape-2 {
    position: absolute;
    top: 530px;
    left: 25px;
}

.core-value .value-shape .value-shape-3 {
    position: absolute;
    top: 0;
    margin-top: 100px;
    right: 0;
    z-index: -1;
}

/* ========================= /core value section end ========================= */

/* ========================= Our Teacher section start ========================= */

.ourteacher {
    background: url(../img/teacher-bg.png);
    background-position: center center;
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
}

.ourteacher span {
    font-size: 20px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Sacramento", cursive;
}

.ourteacher h3 {
    font-size: 45px;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.ourteacher .teacher-image {
    z-index: 9;
}

.ourteacher .teacher-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: #EA512E;
    border-radius: 50%;
    z-index: -1;
    transition: 0.5s;
    animation: border-transform-teacher-image 30s linear infinite alternate forwards;
}

.ourteacher .social-media {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -70px;
    transition: all 0.4s ease-in;
}

.ourteacher .teacher-image:hover .social-media {
    margin-bottom: 0px;
    transition: all 0.4s ease-out;
}

.ourteacher .social-media ul li {
    width: 30px;
    height: 30px;
    line-height: 32px;
    background: #ea512e;
    border-radius: 50%;
    transition: 0.3s ease-out;
}

.ourteacher .social-media ul li a {
    color: #fff;
}

.ourteacher .social-media ul li:hover {
    background: #f5890d;
    transition: 0.3s ease-in;
}

.ourteacher .about-teacher {
    margin-top: 25px;
}

.ourteacher .about-teacher h3 {
    color: #1b0238;
    margin-bottom: 0px;
    font-size: 30px;
}

.ourteacher .about-teacher h3+span {
    color: #ea512e;
    font-weight: 600;
    margin-top: 10px;
    font-size: 16px;
    font-family: "Catamaran", sans-serif;
}

/* ========================= /Our Teacher section end ========================= */

/* ========================= Testimonials section start ========================= */
.testimonials span {
    font-size: 20px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Sacramento", cursive;
}

.testimonials h3 {
    font-size: 45px;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.testimonials .card-teacher {
    height: auto;
    padding: 30px;
    text-align: center;
    border-radius: 50%;
    border: none;
    background-color: #fee9ca;
    cursor: default;
}

.testimonials .card-teacher div.icon {
    width: 65px;
    height: 65px;
    margin: auto;
    line-height: 77px;
    border-radius: 50%;
    margin-bottom: 20px;
    background: #fff;
    transition: all 0.5s linear;

}

.testimonials .card-teacher:hover div.icon {
    background: #ea512e;
    transition: all 0.5s linear;

}

.testimonials .card-teacher:hover div.icon .fa-quote-left {
    color: #fff;
    transition: all 0.5s linear;
}

.testimonials .card-teacher p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 15px;
    font-style: italic;
    line-height: 1.8;
    color: #6b6b84;
    cursor: pointer;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.testimonials .card-teacher .info-box h3 {
    color: #1b0238;
    font-family: "Catamaran", sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0;
}

.testimonials .card-teacher .info-box span {
    display: block;
    color: #ea512e;
    font-size: 15px;
    margin-top: 5px;
    font-weight: 600;
    font-family: "Catamaran", sans-serif;
}

.testimonials .nav-button button {
    width: 50px;
    border: none;
    height: 50px;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    line-height: 10px;
    text-align: center;
    border-radius: 50%;
    margin-left: -40px;
    margin-right: -40px;
    background: #ea512e;
    transition: 0.3s linear;
}

.testimonials .nav-button button:hover {
    background: #f5890d;
    transition: 0.3s linear;
}

/* ========================= /Testimonials section end ========================= */

/* ========================= Tetimoniel Section Start ========================= */

.slider-wrap {
    position: relative;
    overflow-x: hidden;
    height: 100px;
}

.slider-main {
    position: absolute;
    width: 200%;
}

.item {
    width: 400px;
    display: inline-block;
}

.item .card {
    transition: 0.5s ease-in-out;
}

/* ========================= /Tetimoniel Section End ========================= */


















/* ========================= Fixed buynow section start ========================= */
.right-buynow a.buy-now {
    top: 50%;
    z-index: 9;
    right: 30px;
    font-size: 15px;
    position: fixed;
    font-weight: 600;
    border-radius: 30px;
    display: inline-block;
    animation-duration: 5s;
    animation-name: buynowa;
    animation-fill-mode: both;
    transform: translateY(-50%);
    color: #ffffff !important;
    background-color: #82b440;
    padding: 10px 20px 10px 20px;
    animation-iteration-count: infinite;
}

.right-buynow a.buy-now {
    text-decoration: none;
    transition: 0.5s;
}

.right-buynow a.buy-now:hover {
    background: #EA512E;
    transition: 0.5s ease-out;
}

/* ========================= /Fixed buynow section end ========================= */

/* ========================= Fixed up arrow section start ========================= */
.homeuparrow {
    position: fixed;
    z-index: 9;
    right: 20px;
    bottom: 20px;
    transition: .9s;
    cursor: pointer;
    padding: 8px 13px;
    border-radius: 50%;
    transform: translateY(-5%);
    background-color: #1b0238;
}

.homeuparrow:hover {
    background-color: #ea512e;
    color: #ffffff;
    transition: 0.5s;
    transform: translateY(-5px);
}

.homeuparrow a {
    color: #fff;
    text-align: center;
}

/* ========================= /Fixed up arrow section end ========================= */

/* ========================= ANIMATION DIMENSIONS ========================= */

/* for banner section animation start */

@keyframes move {
    0% {}

    100% {
        left: 4%;
    }
}

@keyframes move2 {
    0% {}

    100% {
        right: 54%;
    }
}

@keyframes move3 {
    0% {}

    100% {
        bottom: 4%;
    }
}

/* /for banner section animation end */



/* for who animation section start */

@keyframes move5 {
    0% {}

    100% {
        right: 4%;
    }
}

@keyframes border-transform-boy-image {

    0%,
    100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }

    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }

    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }

    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }

    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }

    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }

    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;

    }
}

/* /for who animation section end */

/* for teacher image animation section start */

@keyframes border-transform-teacher-image {

    0%,
    100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }

    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }

    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }

    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }

    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }

    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }

    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
}

/* /for teacher image animation section end */


/* for fix buynow animation section start */

@keyframes buynowa {
    0% {
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

/* /for fix buynow animation section end */

/* ========================= RESPONSIVE DIMENSIONS ========================= */